/* * {
    margin: 0;
    padding: 0;
} */

body { 
    background: url("images/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 90vw;
    height: 90vh;
}

div {
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 40%;
    left: 40%;
}

h1 {
    padding: 0 15px;
}