@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(247, 231, 206);
    font-family: 'Sulphur Point', sans-serif;
    border-radius: 15px;
    position: sticky;
    margin: 5vh 15vw;
    padding: 25px 10%;
    top: 10px;
    z-index: 1;
    overflow: hidden;
}

#nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(182, 182, 182);
    transition: all .5s ease;
}