* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.photos {
	text-align: center;
	margin: 0 10%;
	background-color: red;
	display: flex;
	flex-direction: column;
}

.engagement-photos img {
	width: 20%;
	border-radius: 25px;
	margin: 10px;
}

.wedding-photos img {
	width: 20%;
	border-radius: 25px;
	margin: 10px;
}

.instagram-photos img {
	width: 20%;
	border-radius: 25px;
	margin: 10px;
}