@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: black;
}

.RSVP-form {
	border-radius: 50px;
	background-image: url(./parchment.jpg);
	margin: 0 20%;
	padding: 5%;
	text-align: center;
	border: 5px solid lavender;
	-webkit-box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.3);
	box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.3);
	outline-offset: -10px;
}

.RSVP-info {
	padding: 5px 0 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 1.3rem;
}

.RSVP-name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.RSVP-form h1 {
	font-family: 'Dancing Script', cursive;
}

.RSVP-form h4,
.RSVP-form h5,
.RSVP-form form {
	font-family: 'Dosis', sans-serif;
}

.RSVP-form form {
	padding-top: 15px;
}

input[type=submit] {
	width: 20%;
	padding: 15px;
	margin-top: 10px;
	border-radius: 30px;
	cursor: pointer;
	border: none;
	text-decoration: none;
	font-size: 1rem;
	background-color: rgba(255, 255, 255, 0.5);
	border: 5px solid lavender;
	font-family: 'Dosis', sans-serif;
}

input[type=submit]:hover {
	background: lavender;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

input[type=radio] {
	margin: 5px;
	margin-top: 15px;
}

.RSVP-name {
	width: 60%;
	position: relative;
	height: 50px;
	overflow: hidden;
	border-radius: 5px;
	margin: auto;
}

.RSVP-name input[type=text] {
	width: 100%;
	height: 100%;
	color: #595f6e;
	padding-top: 20px;
	border: none;
	outline: none;
	background-color: rgba(255, 255, 255, 0.4);
}

.RSVP-name label {
	position: absolute;
	bottom: 0px;
	left: 0%;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-bottom: 1px solid black;
}

.RSVP-name label::after {
	content: "";
	position: absolute;
	left: 0px;
	bottom: -1px;
	height: 100%;
	width: 100%;
	border-bottom: 3px solid #5fa8d3;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: -webkit-transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.content-name {
	position: absolute;
	bottom: 5px;
	left: 0px;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.RSVP-name input[type=text]:focus + .label-name .content-name,
.RSVP-name input[type=text]:valid + .label-name .content-name {
	font-size: 14px;
	-webkit-transform: translateY(-150%);
	transform: translateY(-150%);
	color: #5fa8d3;
}

.RSVP-name input[type=text]:focus + .label-name::after,
.RSVP-name input[type=text]:valid + .label-name::after {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}
