@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
* {
	margin: 0;
	padding: 0;
	color: black;
}

.RSVP-form {
	background-image: url(./parchment.jpg);
	margin: 0 20%;
	padding: 5%;
	text-align: center;
}

.RSVP-form h1 {
	font-family: 'Dancing Script', cursive;
}

.RSVP-form h4,
.RSVP-form h5,
.RSVP-form form {
	font-family: 'Dosis', sans-serif;
}

input[type=submit] {
	font-family: 'Dosis', sans-serif;
}

