* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: white;
  }
  
  p {
    color: black;
  }

  .container {
    margin: 0 10%;
    /* background-color: red; */
    text-align: center;
}